<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">DVM Mon-web</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/affiliations">Affiliations</a>
    </div>
    <div class="form-inline ml-auto">
        <button id="theme-toggle" class="btn btn-outline-secondary">Toggle Dark Mode</button>
    </div>
</nav>